/* =========================================
   Small Devices (Mobile)
   Up to 576px
   ========================================= */
@media (max-width: 576px) {
.header-cta,.nav-menu{
   display: none;
}

#footer,#WhyChoose{
  padding: 40px 20px;
}

#Host{
  padding: 40px;
}

#hero .bg-circle{
   width: 200px;
  height: 200px;
}
.bg-circle img{
  width: 80px;
}



#hero .bg-circle::after{
  
  top: 5px;
  right: -10px;
}



}



/* =========================================
   Medium Devices (Tablet)
   576px to 992px
   ========================================= */
@media (min-width: 577px) and (max-width: 992px) {
.nav-bar{display: none;}

#hero .bg-circle{
   
    width: 100%;
    height: 100%;
}

#hero .bg-circle{
   width: 250px;
  height: 250px;
}
.bg-circle img{
  width: 80px;
}

  

}



/* =========================================
   Large Devices (Desktop)
   Above 992px
   ========================================= */
@media (min-width: 993px) {
.nav-bar{display: none;}
  
/* #Featured iframe {
   max-height: 214px;
} */










}
