/* =========================================
   Small Devices (Mobile)
   Up to 576px
   ========================================= */
@media (max-width: 576px) {
.header-cta,.nav-menu{
   display: none;
}


}



/* =========================================
   Medium Devices (Tablet)
   576px to 992px
   ========================================= */
@media (min-width: 577px) and (max-width: 992px) {
.nav-bar{display: none;}
  

}



/* =========================================
   Large Devices (Desktop)
   Above 992px
   ========================================= */
@media (min-width: 993px) {
.nav-bar{display: none;}
  

}
