/* ========================
   GLOBAL RESET
======================== */


body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}


/* ========================
   COLOR SYSTEM
======================== */
:root {
  /* Brand Colors */
  --primary-color: #ffffff;

    /* Gradient Colors */
  --gradient-yellow: #F7E93F;
  --gradient-pink: #FB09B4;
  --gradient-purple: #9100F8;

  /* Full Gradient */
  --gradient-primary: linear-gradient(
    45deg,
    var(--gradient-yellow) 0%,
    var(--gradient-pink) 51%,
    var(--gradient-purple) 100%
  );

  /* Backgrounds */
  --bg-color: #1A0B2E;
  --bg-color2: #412567 ;
  --bg-color3: #230E3D;
  --bg-box: #533C72;


  /* Text */
  --text-color: #ffffff;
  --text-white: #ffffff;
  --text-green: #00FF88;
  
}


/* ========================
   LAYOUT UTILITIES
======================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* ========================
   BUTTONS
======================== */
.btn {
  display: inline-block;
  padding: .8rem 1.2rem;
  border-radius: 50px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  background: var(--gradient-primary);
  color: var(--text-white);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.btn:hover {
  transform: scale(.8);
  box-shadow: 0 4px 0 #000;
}

/* Global End */

/* ========================
   Normal CSS
======================== */

#header{
  border-bottom: 1px solid var(--bg-color2);
}
.logo{
  font-size:  clamp(1.8rem, 4vw, 2.8rem);
  font-weight: 800;
}

.logo .text-gradient{
  background: linear-gradient(180deg,#9100F8, #ff00cc, #ff8800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hero */

#bg-img{
  background: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .bg-circle{
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    max-width: 350px;
}


























/* Host */
#Host,#WhyChoose{
  padding: 120px 0;
}


.social-icons {
  display: flex;
  gap: 10px; 
}

.social-icons a {
  border: 1px solid var(--bg-color2);
  padding: 10px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scale hovered icon */
.social-icons a:hover {
  transform: scale(1.5);
  border: 2px solid var(--bg-color2);
}

/* Blur other icons when one is hovered */
.social-icons:hover a:not(:hover) {
  filter: blur(2px);
  opacity: 0.6;
}

/* footer */

#footer{
  background: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px;
}
.footer-social a{
  padding:10px 20px;
  transition: transform 0.24s ease;
}
.footer-social a:hover {
  transform: scale(1.2);
  background: var(--gradient-primary);
  padding:10px 20px;
  border-radius: 50px;
  /* border: 2px solid var(--bg-color2); */
}

.footer-social:hover a:not(:hover) {
  filter: blur(2px);
  opacity: 0.6;
  
}